<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
>

  <%= form_tag places_url, method: :get do %>
    <%= text_field :address, "" %>
    <%= text_field :hours, "" %>
    <%= text_field :walking, "" %>
    <%= submit_tag %>
  <% end %>
</div>
