<!DOCTYPE html>
<html>
  <head>
    <title>ParkEz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <ul>
        <i class="fas fa-bars"></i><span class="title"> ParkEZ </span>
      </ul>
    <%= javascript_pack_tag "application" %>
    </div>
    <div class="map-area">
    <%= yield %>
      Test2
    </div>
    <div class="footer">
        <i class="fas fa-microphone"></i>
    </div>
  </body>
</html>
