<!DOCTYPE html>
<html>
  <head>
    <title>ParkEz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="hidden pop-up">
      <div>Secret! :)</div>
    </div>
    <div class="header">
      <ul>
        <i class="fas fa-bars"></i><span class="title"> PARK EZ </span>
      </ul>
    </div>
    <div class="border-gradient"></div>

    <div class="map-area">
      <%= yield %>
    </div>
    <div class="footer">
      <div id="mic-btn">
        <i class="fas fa-microphone"></i>
      </div>
    </div>

    <%= javascript_pack_tag "application" %>
  </body>
</html>
